---
import "@fontsource/allura";
import '@fontsource/style-script';
---

<header class="flex w-full justify-around sticky top-0">
  <div class="logo">
    <a href="" class="text-3xl">Sf</a>
  </div>
  <nav>
    <ul class="flex gap-4">
      <li><a href="#">Proyectos</a></li>
      <li><a href="#">Sobre mi</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
</header>

<style>
  .logo {
    font-family: 'Style Script', sans-serif;
  }
</style>
