---
import "@fontsource/allura";
---

<header class="flex w-full justify-between sticky top-0">
  <div class="logo">
    <a href=""> Sf</a>
  </div>
  <nav>
    <ul class="flex gap-4">
      <li><a href="#">Proyectos</a></li>
      <li><a href="#">Sobre mi</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
</header>

<style>
  .logo {
    font-family: "Allura", sans-serif;
  }
</style>
